@import url(https://fonts.googleapis.com/css?family=Orbitron:regular,500,600,700,800,900);

* {
    margin: 0;
    padding: 0;
}

:root {
    --imgwidth: calc((2 / 5) * 100)vw;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
}

.big-container {
    display: flex;
    margin-top: 75px;
    flex-direction: column;
    gap: 25px;
    font-family: Orbitron;
    font-size: 15px;
    flex: 3;
}

.bg-image {
    background-image: url(".images/luis");
    background-repeat: no-repeat;
    background-size: auto 100vh;
    position: relative;
    margin: 0;
    padding: 0;
    flex: 2;
}

.text-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 97, 28, 0.5);
    border: none;
    margin: 0;
    margin-top: 100px;
    padding: 0;
}

#text {
    font-family: Orbitron;
    font-size: 25px;
    color: black;
}

#logo {
    height: 100px;
    width: auto;
}

img {
    height: 100vh;
    width: var(--imgwidth);
}

input:focus {
    box-shadow: 3px 3px 3px black;
}

input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
    height: 33px;
    background-color: rgb(13, 82, 4);
    border: none;
    border-radius: 5px;
    color: white;
    font-family: Orbitron;
}

button:hover {
    border: 3px solid black;
}

a {
    color: green;
    text-decoration: none;
}

div {
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.container {
    display: flex;
    height: 225px;
    width: 365px;
    flex-wrap: wrap;
}